@import url(./fonts.css);

:root{
    --primary: #10b981;
    --primary-bg: #f5f5f5;
    --textprimarycolor: #2b2626;
    --primary-products: #845EC2;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
}

body{
    background-color: var(--primary-bg);
}

.header__wrapper {
    padding-top: 56px;
    padding-bottom: 65px;
    width: 100%;
    display: flex;
    
    align-items: center;
    text-align: center;

}

.header__logo {
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    color: #10B981;
    font-style: italic;
    margin-left: 85px;
}

.header__logo-black {
    color: black;
}

.header__form-search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 239px;
}

.header__form-search::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
    background-image: url("./img/search-Filled.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color:  var(--primary);
    border-radius: 5px;

    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__input-field {
    width: 322px;
    height: 63px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    padding-left: 32px;
    color: var(--textprimarycolor);
    
}

.header__input-field::placeholder {
    color: var(--textprimarycolor);
}

.header__basket-info {
    width: 229px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 38px;
    border: 1px solid var(--primary);
    border-radius: 30px;
    padding-left: 75px;
    position: relative;
}

.header__basket-info::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 25px;
    background-image: url("./img/basket.svg");
    background-repeat: no-repeat;
    background-position: center;

    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.header__authorization {
    width: 247px;
    height: 60px;
    margin-left: 23px;
    background-color: var(--primary);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 16px;
    line-height: 60px;
    color: white;
    padding-left: 35px;
    position: relative;
}

.header__authorization::before {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 25px;
    background-image: url("./img/login.svg");
    background-repeat: no-repeat;
    background-position: center;

    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.menu{
    max-width: 1640px;
}


.menu ul{
    display: flex;
    list-style-type: none; 
    align-items: center;
    text-align: center;
    height: 81px;
    justify-content: center;
    background-color: var(--primary);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
}

.menu__link{
    text-decoration: none;
    color: #FFFFFF;
}

.menu li:not(:first-child){
    margin-left: 75px;
}

.first__block{
    height: 747px;
    display: flex;
    text-align: left;
    
}

.left__side{
    width: 600px;
    margin-left: 85px;

}

h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: var(--textprimarycolor);
    margin-top: 126px;
}

.product__descr{
    margin-top: 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: var(--textprimarycolor);
}

.btn__buy{
    width: 263px;
    height: 70px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(132, 94, 194, 0.15);
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    color: white;
    margin-top: 52px;
}

.wrapper_images{
    display: flex;
    margin-top: 112px;
}

.img__face{
    width: 60px;
    height: 60px;
}

.img__face:not(:first-child){
    margin-left: -20px;
}

.text__reviews{
    color: var(--textprimarycolor);
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    margin-left: 14px;
}

.wrapper__play{
    margin-top: 530px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.wrapper__play::after{
    content: "";
    position: absolute;
    bottom: 66px;
    left: 450px;
    width: 53px;
    height: 53px;
    background-image: url("./img/Star\ 1.png");
    background-repeat: no-repeat;

}


.wrapper__img__play{
    position: relative;
}

.wrapper__img__play::after{
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 84px;
    height: 84px;
    background-image: url("./img/Ellipse\ 21.png");
    background-repeat: no-repeat;
    background-position: center;
    
    left: -5px;
    top: 45%;
    transform: translateY(-60%);
}

.img__play{
    border-radius: 50%;
    margin-bottom: 16px;
}

.text__play{
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: var(--textprimarycolor);
    
}

.wrapper__beets{
    margin-left: 58px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.wrapper__beets::before{
    content: "";
    position: absolute;
    top: -80px;
    left: -60px;
    width: 53px;
    height: 53px;
    background-image: url("./img/Star\ 1.png");
    background-repeat: no-repeat;

}

.img__beets{
    width: 280px;
    height: 299px;
}

.text__beets{
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: var(--textprimarycolor);
}

.text__beets span{
    position: absolute;
    height: 200px;
    width: 20px;
    left: 120px;
    top: 0;
    transform-origin: bottom center;
    
}

.char1 { transform: rotate(-90deg) ; }
.char2 { transform: rotate(-90deg) translateX(30px); }
.char3 { transform: rotate(-85deg) translateX(40px); }

.char5 { transform: rotate(-80deg) translateX(70px); }
.char6 { transform: rotate(-78deg) translateX(95px) translateY(-5px); }
.char7 { transform: rotate(-50deg) translateX(28px) translateY(-35px); }
.char8 { transform: rotate(-40deg) translateX(20px) translateY(-40px); }
.char9 { transform: rotate(-30deg) translateX(5px) translateY(-45px); }

.char11 { transform: rotate(-20deg) translateX(5px) translateY(-50px); }
.char12 { transform: rotate(-10deg) translateX(5px) translateY(-55px); }
.char13 { transform: rotate(-5deg) translateX(5px) translateY(-55px); }
.char14 { transform: rotate(5deg) translateX(-5px) translateY(-57px);  }
.char15 { transform: rotate(15deg) translateX(-15px) translateY(-58px); }
.char16 { transform: rotate(25deg) translateX(-25px) translateY(-55px); }
.char17 { transform: rotate(40deg) translateX(-55px) translateY(-45px); }
.char18 { transform: rotate(50deg) translateX(-45px) translateY(-40px); }
.char19 { transform: rotate(60deg) translateX(-60px) translateY(-30px); }


.text__price{
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
    color: var(--textprimarycolor);
    margin-top: 26px;
}

.wrapper__beets-and-price{
    width: 272px;
    height: 477px;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 76px;

    background-color: #ECFEF4;
    border-radius: 136px;
}

.products {
    height: 591px;
    background-color: var(--primary-products);
    padding-top: 73px;
    padding-left: 85px;
    display: flex;
}

.images__title {
    font-size: 60px;
    line-height: 73px;
    color: var(--primary-products);
    text-shadow: 0px 0px 3px white;
    font-weight: 600;
}

.images {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.images__container_products{
    margin-top: 37px;
    position: relative;
}

.images__container >img {
    width: 190px;
    height: 331px;

}

.images__container1 {

}

.images__container2 {
    position: relative;
    top: -69px;
    margin: 0 30px;
}

.images__container2 {

}

.price{
    font-size: 31px;
    line-height: 35px;
    font-weight: 400px;
    color: white;

}

.price_products {
    margin-left: 201px;
}

.price__text{
    display: inline-block;
}

.price__number{
    display: inline-block;
    font-weight: 600;
    margin-left: 20px;
}

.product-descr {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 55px;
}

.product-descr_normal{
    width: 560px;
}

.product-descr__title {
    font-size: 44px;
    line-height: 54px;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;

}
.product-descr__description {
    font-size: 21px;
    line-height: 35px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 35px;
    width: 500px;
}

.product-descr__buttons {
    display: flex;

}

.button-card {
    width: 263px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    border: none;
    
}
.button-outline {
    background-color: transparent;
    color: white;
    font-size: 21px;
    line-height: 35px;
    font-weight: 600;
    border: none;
    
}

.button-outline_product-descr{
    margin-left: 49px;
}